[defaults]
hash_behaviour = merge
inventory       = ./environment/default/hosts
library         = ~/.ansible/plugins/modules:/usr/share/ansible/plugins/modules:./plugins/modules
stdout_callback = yaml
callback_whitelist = ansible.posix.profile_tasks
display_skipped_hosts = False
